:root{
    --pulsingFG: #ff8585;
    --pulsingBG: #503b28;
}
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  body {
    position: relative;
  }

#pulsar{
    background-color: var(--pulsingBG);
}

.pulse{
    animation-duration: 0.12s;
    animation-name: pulse;
    animation-direction: alternate;
    animation-iteration-count: 2;
    -webkit-animation-timing-function: ease-out;
}

#profileCanvas{
    width: 90vw;
    height: 45vw;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
@keyframes pulse {
    from {
        background-color: var(--pulsingBG);
    }
  
    to {
        background-color: var(--pulsingFG);
    }
  }
