:root{
    --pulsingFG: #ff8585;
    --pulsingBG: #000;
}
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
position: relative;
}

.center{
    display: flex;
    justify-content: center;
    position: relative;
}
#controlGrid{
    display: grid;
    grid-template-columns:1fr,1fr;
}
#pulsar{
    background-color: var(--pulsingBG);
    width:100px;
    height:100px;
    border-radius: 100%;

}

.pulse{
    animation-duration: 0.12s;
    animation-name: pulse;
    animation-direction: alternate;
    animation-iteration-count: 2;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

#canvasContainer{
    position: relative;
    --width:300px;
    width:var(--width);
    height:calc(var(--width)/2);
    margin:20px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}
#profileCanvas{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    
}

#line-and-label-container{
    position: absolute;
    top: 0;
    left: 0;
    width:calc(var(--width) - 2px);
    height:calc((var(--width)/2) - 2px);
    display:grid;
    border: 1px solid rgb(90, 90, 90);
    z-index: -1;
}
.line{
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgb(90, 90, 90);
}
p.label{
    margin: 0;
    text-align: center;
    font-size: 0.6em;
}
.label{
    position: absolute;
    display:flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.line:last-child{
    border-bottom: none;
}

#floatingLabel{
    pointer-events:none;
    position: absolute;
    display:flex;
    width:15%;
    height:10%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
}
#floatingLabel p{
    position: absolute;
    font-size: 0.6em;
    text-align: center;
}
@keyframes pulse {
    from {
        background-color: var(--pulsingBG);
    }
  
    to {
        background-color: var(--pulsingFG);
    }
  }
